services:
  
  db:
    image: postgres:17
    container_name: dagbook-db
    restart: always
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

    volumes:
      - pgdata:/var/lib/postgresql/data

  
  backend:
    build: ./fasx-backend
    restart: always
    container_name: dagbook-backend
    ports:
    - "5000:5000"
    env_file:
      - ./fasx-backend/.env
    environment:
      NODE_ENV: production
    volumes:
      - ./fasx-backend:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - db

  
  frontend:
    build: ./fasx-frontend
    container_name: dagbook-frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  pgdata:
